---
// Import global stylesheet
import "/src/styles/global.css";

// Constants
import { SITE_TITLE } from "../consts";

// Attributes - Used to pass data from where it"s used
const { title, description, image } = Astro.props;

// Canonical URL - Helps search engines to index the correct URL and avoid duplicate content
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<!-- Global metadata -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="generator" content={Astro.generator}/>
<link rel="sitemap" href="/sitemap-index.xml"/>
<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
<link rel="alternate" type="application/rss+xml" title={SITE_TITLE} href={new URL("rss.xml", Astro.site)}/>

<!-- Preload fonts -->
<link rel="preload" href="/fonts/PTSans-Regular.ttf" as="font" type="font/truetype" crossorigin/>
<link rel="preload" href="/fonts/PTSans-Bold.ttf" as="font" type="font/truetype" crossorigin/>

<!-- Canonical URL - Helps search engines to index the correct URL and avoid duplicate content -->
<link rel="canonical" href={canonicalURL}/>

<!-- Primary metatags -->
<title>{title}</title>
<meta name="title" content={title}/>
<meta name="description" content={description}/>
